@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}
@font-face {
    font-family: "norse-bold";
    src: url(norse-bold-webfont.woff),
         url(norse-bold-webfont.woff2);
    font-weight: normal;
    font-style: normal;

}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-container{
    height: 100%;
    width: 80%;
    display: flex;


}
.container-left{
    height: 100%;
    width: 40%;
    background-image: url(background.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}
.background-logo{
    position: absolute;
    top: 20%;
    height: 150px;
    width: 100%;
    background: black;
    opacity: 0.6;
}
.background-image{
    height: 100%;
    width: 100%;
}
.logo-container{
    display: flex;
    position:absolute;
    top: 22%;
}

.brand-name{
    font-size: 90px;
    font-family: "norse-bold";
    color: white;
}
a{
  color: white;
}
.credits{
  position: absolute;
  top: 97%;
  color: white;
}